@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {padding: 0; margin: 0; font-family: 'Roboto', 'sans-serif';}
ul, li {list-style: none;}
image {width: 100%; height: auto;}
a {text-decoration: none; color: #555;}

/* header */
header{position: fixed; top: 0; left: 0; width:100%; z-index: 10; background-color: #fff;}

#main_header .social {position: absolute; top: 20px; left: 15px; overflow: hidden; display: block;}
#main_header .social > li {
    width: 32px;
    height: 32px;
    background-image: url('images/social.png');
    float: left;
    /* text-indent: -9999px; 글씨 들여쓰기, 내어쓰기 */ 
}
#main_header /* ul */.social > li:nth-child(2) {background-position: -32px;}
#main_header /* ul */.social > li:nth-child(3) {background-position: -64px;}
#main_header /* ul */.social > li:nth-child(4) {background-position: -96px;}

#main_header > h1 {text-align: center; margin: 20px 0; font-size: 2em;}

#main_header .login {position: absolute; top: 20px; right: 15px; overflow: hidden; display: block;}
#main_header .login > li{float: left; padding-left: 30px; font-size: 12px;}

nav {display: block; margin: 0 auto;}
.nav_box {text-align: center; margin-top: 30px;}
.nav_box > li {padding: 20px 30px; display: inline-block;}


/* section - main_image */
#main_image {
    border-top: 3px solid red; 
    height: 500px; 
    margin-top: 170px; 
    background-image: url('images/main.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center;
    /* background-attachment: fixed; */
}   
#main_image .main_title {color: #fff; font-size: 50px; letter-spacing: 15px; padding-top: 100px; text-align: center; line-height: 80px;}
#main_image .sub_title{color: #fff; font-size: 30px; text-align: center; line-height: 80px;}


/* section - bottom_list */
#bottom_list {text-align: center; margin-bottom: 100px;}
#bottom_list > h2 {text-align: center; font-size: 14px; border-bottom: 3px dashed #ddd; padding: 10px 0;}
#bottom_list .card {display: inline-block; padding: 40px;}
#bottom_list .card > h3 {text-align: center; color: #ddd;}


/* footer */
footer {overflow: hidden; border-top: 2px solid #ddd;}
footer .left {float: left; padding: 10px 20px; font-size: 15px;}
footer .right {float: right; padding: 10px 20px; font-size: 15px;}
